app/
assets/
composer.lock
config/
contao-manager/
system/
var/cache/
var/logs/
var/jwt_secret
vendor/
web/assets
web/bundles/
web/files/
web/share/
web/system/
web/vendor/
web/app.php
web/index.php
web/preview.php