app/
assets/
composer.lock
config/
contao-manager/
system/
var/cache/
var/logs/
var/jwt_secret
vendor/
public/assets
public/bundles/
public/files/
public/share/
public/system/
public/vendor/
public/app.php
public/index.php
public/preview.php