@import "../../../assets/contao-component-bootstrap/bootstrap/scss/bootstrap.scss";

@import "fonts";
@import "colors";
@import "layout";
@import "bootstrap";
@import "mobilenav";

:root {
    font-size: 16px;
    line-height: 1.4;
}

html {
    scroll-behavior: smooth;
}